<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
</head>
<body>
    <h1>Product Management</h1>
    <nav>
        <ul>
            <li><a href="test/products.html">Products</a></li>
            <li><a href="test/appliances.html">Appliances</a></li>
            <li><a href="test/electronics.html">Electronics</a></li>
            <li><a href="test/productImage.html">ProductImage</a></li>
            <li><a href="test/user.html">user</a></li>
            <li><a href="test/Order.html">Order</a></li>
            <li><a href="test/OrderDetail.html">OrderDetail</a></li>
            <li><a href="test/hi.html">hi</a></li>
            <li><a href="user/login.html">login</a></li>
        </ul>
    </nav>
</body>
</html>
